@import "tailwindcss";

html{
    scroll-behavior: smooth;
}
.splash {
    background: linear-gradient(to top, rgba(30,144,255,0.9), rgba(30,144,255,0.1)), url('/images/woman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}